.button{
    width: 280px;
    height: 37px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    margin-bottom: 5px;
}

.buttonPrimary {
    background: #3369F3;
    color: white;
}

.buttonSecondary {
    background: white;
}

